.message {
	border-style		: solid;
	border-width		: 3px;
	margin-bottom		: 10px;
	min-height			: 58px;
	padding					: 5px 5px 5px 72px ;
	
	-moz-border-radius-topleft	: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}

.no_image {
	padding-left:5px;
}

.message_title {
	border-bottom		: 1px solid black;
	font-size			: 12pt;
	font-weight			: bold;
	margin-bottom		: 5px;
}

.message_text {
	font-size			: 8pt;
}
.message_text pre {
  border:solid 1px gray;
  padding:10px;
  font-family:"Monaco","Courier New",mono !important;
}


.error {
	 background	: #FEADAD url(../images/error.png) no-repeat scroll 10px 10px; 
}
.error pre { 
    background : #FE8080; 
}
.info {
	  background : #A9D1FE url(../images/info.png) no-repeat scroll 10px 10px; 
}
.info pre { 
    background : #80B0FE; 
}
.warning {
	background : #FFFFA9 url(../images/warning.png) no-repeat scroll 10px 10px; 
}
.warning pre {
  background : #FFFF80;
}
.success {
	background : #9FFA9F url(../images/success.png) no-repeat scroll 10px 10px; 
}
.success pre {
  background : #80F080;
}