* {
    font-family:Verdana,Arial,sans-serif;
    font-size:10pt;
}
html {
    background:white;
}
body {
    background:white;
    padding:40px;
    padding-top:0px;
}

img { border:none; }

table {
	min-width:500px;
	width:500px;
	border:solid 1px black;
	border-collapse:collapse;
	padding:0px;
}
table th {
	background:#2c5aa0;
	color:white;
	padding:8px;
}
table td {
	border:solid 1px black;
	margin:0px;
}
table tfoot td {
	background:#D6DCFF;
}


.header {
    background:white;
    border:none;
    border-bottom:solid 3px black;
    width:100%;
    height:50px;
}

.pagewrapper {
    margin:25px;
}
.sidebar {
    position:relative;
    top:60px;
    width:210px;
    float:left;
}
.logo {
	border-bottom:solid 2px gray; 
	padding:10px;
}
.navigation {
    position:relative;
    float:right;
}

.content {
    padding:20px;
    margin-left:225px;
    min-height:150px;
    border-left:solid 1px gray;
}

.footer{
    text-align:right;
    width:100%;
    border-top:solid 3px black;
}
.footer, .footer * {
    font-size:7pt;
}

.wnavlist {
    padding-left:none;
    margin-left:none;
    list-style-type:none;
}
.wnavlist li {
    display:inline;
    margin-left:20px;
    list-style-type:none;
    list-style-image:none;
}
.wnavlist a {
    padding:8px;
    padding-left:40px;
    padding-right:40px;
    border:solid 1px black;
    background:#2C5AA0;
    color:white;
    width:200px;
}
.wnavlist_active, .wnavlist a:hover {
    border:solid 1px #162D50 !important;
    background:#87AADE !important;
    color:black !important;
}
