/****************************************************/
/*              Basic Text and Parents              */
/****************************************************/

* {
    font-size       : 10pt;
    font-family     : Verdana, Arial, sans-serif;
}
html, body {
    color           : black;
    font-size		: 10pt;
}

.wide { width : 100%; }
hr { border-style:ridge; border-width:1px; }

pre {
    font-family:Courier New,Courier,sans-serif;
    background:#D6DCFF;
    padding:10px;
    border:dotted 1px black;
}


/****************************************************/
/*              Buttons and Textfields              */
/****************************************************/

input[type="text"], 
input[type="password"] {
    background      : #D1E4FF;
    border          : solid 2px black;
    margin          : 2px;
}
button,input[type="button"],input[type='submit'],input[type='reset'] {
    border          : solid 2px black;
    background      : #162D50;
    color           : white;
}
input[type='submit'],input[type='reset'] {
    border:solid 2px black;
    color:white;
    padding-right: 25px;
}
input[type="reset"] {
    float:left;
    padding-right:8px;
    padding-left:25px;
    background:#162D50 url(../images/reset_bgimage.png) no-repeat left;
}
input[type="submit"] {
    float:right;
    background:#162D50 url(../images/submit_bgimage.png) no-repeat right;
}
input[readonly="true"] {
    background      : #333333; 
    color           : white;
}

.prev {
    padding-right:8px;
    padding-left:25px;
    background:#162D50 url(../images/button_prev.png) no-repeat left;
}
.next {
    background:#162D50 url(../images/button_next.png) no-repeat right;
}

textarea {
    border          : solid 1px black;
    background      : #D1E4FF;
    
    min-width:200px;
    min-height:100px;
}

.invalid {
    background      : #FEADAD;
}

/****************************************************/
/*                  Pretty Tables                   */
/****************************************************/
.label {
    font-weight     : bold;
    text-align      : right;
    vertical-align  : top;
    white-space     : nowrap;
}
.waxtable {
    border			: none;
    border-collapse : collapse;
    border-spacing  : 0px;
    
    margin-bottom	: 18px;
}
.waxtable td, .waxtable th {
    border-left		: solid 1px black;
    border-right	: solid 1px black;
    
    vertical-align  : top;
    text-align      : left;
    
    padding			: 4px;
    white-space		: nowrap;
}

.waxtable tr {
	border-bottom	: solid 1px gray;
}
.waxtable tr:last-child {
	border-bottom	: none;
}
.waxtable td:last-child, .waxtable th:last-child {
	border-right	: none;
	white-space 	: nowrap;
}
.waxtable td:first-child, .waxtable th:first-child {
	border-left		: none;
}

thead {
	border-bottom	: solid 3px black;
}
tfoot {
	border-top		: solid 3px gray;
}

.waxtable th {
    text-align      : center;
    padding-left    : 5px;
    padding-right   : 5px;    
    color           : white;
    font-weight     : bold;
    background		: #2C5AA0;
}

/****************************************************/
/*                Pretty Fieldsets                  */
/****************************************************/
fieldset {
    border          : solid 1px black;
    padding         : 10px;
}
legend {
    color           : white;
    min-width       : 150px;
    background      : url(../images/th_background.png) repeat-x; /* NOTICE: wisp Path */
    border          : solid 1px black;
}

/****************************************************/
/*                Misc. Elements                    */
/****************************************************/
ul li {
    list-style-image:url(../images/list_square.png);              /* NOTICE: wisp Path */
}

dl dt {
    font-weight     : bold;
    border-bottom   : solid 1px #bbbbbb;
    margin-top      : 8px;
    margin-left     : 5px;
}
dl dd {
    border-left     : solid 1px #bbbbbb;
    margin-left     : 5px;
}

/****************************************************/
/*                   Headers                        */
/****************************************************/
h1,h2,h3 {
    color:#444F82;
    border-bottom:solid 1px #777777;
}
h1, h1 * { font-size:20pt; }
h2, h2 * { font-size:16pt; }
h3, h3 * { font-size:14pt; }
h4, h4 * { font-size:12pt; }
h5, h5 * { font-size:10pt; }
h6, h6 * { font-size:8pt; }
h7, h7 * { font-size:5pt; }

/****************************************************/
/****************************************************/

/* PRINT STYLES
 * this part of the stylesheet defines special options for making pages prettier when printed
 */
 
@media print {
    .noprint {
        display     : none;
    }
}