.tabcontrol {
	position:fixed;
	width:100%;
	bottom:0px;
	left:0px;
	padding:4px;
	
	height:42px;
	background:#000000 url(../images/tabcontrol_background.png) repeat-x;
}
.tabcontrol * {
	color:white;
	text-decoration:none;
	border:none;
}

.tabcontrol .selected {
	background:transparent url(../images/tabcontrol_selected.png) repeat-x;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.tabcontrol .tab {
	height:50px;
} 
.tabcontrol .tab .label {
	display:block;
	font-size:10pt;
	text-align:center;
}
.tabcontrol .tab .image {
	display:block;
	text-align:center;
	margin-bottom:7px;
}
