/****************************************************/
/*              Basic Text and Parents              */
/****************************************************/

* {
    font-size       : 17px;
    font-family     : Helvetica, Arial, sans-serif;
}
html, body {
    color           : black;
    font-size		: 17px;
	margin          : 0px;
	padding         : 4px;
	background      : #c5ccd3 url(../images/background.png);
}

thead {
	border-bottom	: solid 3px black;
}
tfoot {
	border-top		: solid 3px gray;
}

/****************************************************/
/*         Lists and custom iphone controls         */
/****************************************************/
.wax_iphone_list {
	padding-left:0px;
}
.wax_iphone_list li {
	border:solid 1px #d7d7d7;
	border-bottom:none;
	background:white;
	font-size:13px;
	border-collapse:collapse;
	max-width:480px;
	
	list-style-type:none;
	
	padding:5px;
	padding-left:8px;
	padding-right:8px;
}
.wax_iphone_list * {
	font-size:8pt;
}
.wax_iphone_list .header {
	background:#58667b url(../images/header_background.png) repeat-x !important;
	height:20px;
	padding-bottom:3px;
	padding-top:13px;
	font-size:15px;
	color:white;
}
.wax_iphone_list a.small_link {
	background:#58667b;
	font-size:8pt;
	text-decoration:none;
	padding:1px;
	padding-left:8px;
	padding-right:8px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;	
	color:white;
}
.wax_iphone_list a:visited {
	color:white;
}
.wax_iphone_list a.big_link {
	padding:3px;
	background:transparent;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	font-size:15px;
	text-decoration:none;
	width:100%;
	display:block;
	color:black;
}
.wax_iphone_list .header * {
	color:white;
	text-decoration:none;
}
.wax_iphone_list .subheader {
	height:16px;
	font-size:16px;
	font-weight:bold;
}
.wax_iphone_list .sublabel {
	font-size:10pt;
	color:#aaaaaa;
}
.wax_iphone_list .rightlabel {
	float:right;
	width:auto;
	position:relative;
}
.wax_iphone_list li:first-child {
	-webkit-border-top-left-radius:8px;
	-khtml-border-radius-topleft: 8px;	
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius:8px;
	-khtml-border-radius-topright: 8px;	
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;

	font-weight:bold;
}
.wax_iphone_list li:last-child {
	-webkit-border-bottom-left-radius:8px;
	-khtml-border-radius-bottomleft: 8px;	
	-moz-border-radius-bottomleft: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius:8px;
	-khtml-border-radius-bottomright: 8px;	
	-moz-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
	border-bottom:solid 1px #d7d7d7;
}

/****************************************************/
/*                   Table Styles                   */
/****************************************************/
.wax_iphone_table {
	border:solid 1px red;
	margin:0px; 
	padding:0px;
	width:100%;
}
.wax_iphone_table td, .wax_iphone_table td * {
	font-size:8pt;
	margin:0px;
	padding:0px;
	max-width:450px;
}





/****************************************************/
/*                Misc. Elements                    */
/****************************************************/

dl dt {
    font-weight     : bold;
    border-bottom   : solid 1px #bbbbbb;
    margin-top      : 8px;
    margin-left     : 5px;
}
dl dd {
    border-left     : solid 1px #bbbbbb;
    margin-left     : 5px;
}

textarea,input[type='submit'],input[type='reset'],input[type='button'] {
	width:100%;
}

input[type='password'],input[type='text'],option,select {
	font-size:15pt;
	height:35px;
}

/****************************************************/
/*                   Headers                        */
/****************************************************/
h1,h2,h3 {
    color:#444F82;
    border-bottom:solid 1px #777777;
}
h1, h1 * { font-size:20pt; }
h2, h2 * { font-size:16pt; }
h3, h3 * { font-size:14pt; }
h4, h4 * { font-size:12pt; }
h5, h5 * { font-size:10pt; }
h6, h6 * { font-size:8pt; }
h7, h7 * { font-size:5pt; }

/****************************************************/
/****************************************************/

/* PRINT STYLES
 * this part of the stylesheet defines special options for making pages prettier when printed
 */
 
@media print {
    .noprint {
        display     : none;
    }
}